.board {
    display: flex;
    justify-content: center;
}

mat-grid-list {
    height: 30vh;
    width: 30vh;
}

mat-grid-tile {
    background: #e25f23;
}

img{
    height: 40px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin-bottom: 20px;
    background-color: #e25f23 !important;
}